body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #4da5c8;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

/* Encabezado */
header {
  background: #d8b320;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

/* Sección de productos, etc*/
.products {
  margin-top: 20px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  background: #f0eea8;
  border: 1px solid #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-item img {
  max-width: 100%;
  border-radius: 5px;
  max-height: 400px;
}

.product-item h3 {
  margin-top: 10px;
}

.product-item p {
  font-size: 18px;
  color: #777;
}

.product-item button {
  background-color: #662727;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-item button:hover {
  background-color: #cd5858;
}

.comments {
  margin-top: 20px;
}

.comments-group {
  list-style-type: none;
}

.comments-item {
  margin-bottom: 30px;
}

.comments-img {
  width: 300px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.comments-text {
  font-size: 16px;
  color: #555;
}

footer {
  background: #570837;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

/*tablajava */
#tablaVentas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


#tablaVentas th,
#tablaVentas td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

#tablaVentas th {
  background-color: #f2f2f2;
}

#tablaVentas tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tablaVentas tbody tr:hover {
  background-color: #f0f0f0;
}


.cantidadInput {
  width: 50px;
  text-align: center;
}


.total {
  font-weight: bold;
}

#tablaVentas th {
  text-align: center; 
  background-color: #d28d25; 
  color: #ffffff; 
  padding: 10px; 
}
#totalVentas {
  text-align: right; 
  margin-top: 20px; 
}

h1 {
text-align: center;
color: #12610b;

}