* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.container, h2 {
    margin-top: 20px
}
/* Encabezado */
header {
    background-color: #d8b320;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Sección de formulario de contacto */
.contacto {
    padding: 50px 0;
    background-color: #fff;
}

.contacto h2 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.formulario textarea {
    height: 150px;
}

.formulario button {
    background-color: #4da5c8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #555;
}

/* Mapa */
.mapa {
    height: 400px;
    margin-top: 50px;
}

/* Pie de página */
footer {
    margin-top: 30px;
    background: #570837;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  

footer p {
    margin-bottom: 0;
    padding: 10px 0;
}